### References:
1. https://web.stanford.edu/class/cs224u/2021/

In [14]:
import pandas as pd
import numpy as np
import os
import rel_ext

### Corpus

In [15]:
file_name = 'washington_post_test.tsv.gz'

In [16]:
columns = ['entity_1', 
           'entity_2', 
           'left', 
           'mention_1',
           'middle',
           'mention_2',
           'right',
           'left_POS',
           'mention_1_POS',
           'middle_POS',
           'mention_2_POS',
           'right_POS']

In [17]:
df_c = pd.read_csv(file_name, names=columns, sep='\t')

In [18]:
df_c.head()

,entity_1,entity_2,left,mention_1,middle,mention_2,right,left_POS,mention_1_POS,middle_POS,mention_2_POS,right_POS
0,Ochoa,39,Im trying to have a similar rhythm to what I h...,Ochoa,",",39,", an administrator at an art business in Madrid.",I/PRON m/AUX trying/VERB to/PART have/VERB a/D...,Ochoa/INTJ,",/PUNCT",39/NUM,",/PUNCT an/DET administrator/NOUN at/ADP an/DE..."
1,39,Madrid,Im trying to have a similar rhythm to what I h...,39,", an administrator at an art business in",Madrid,.,I/PRON m/AUX trying/VERB to/PART have/VERB a/D...,39/NUM,",/PUNCT an/DET administrator/NOUN at/ADP an/DE...",Madrid/PROPN,./PUNCT
2,first,France,"The concept,",first,legislated in,France,"in 2017, limits how much employees can be mad...","The/DET concept/NOUN ,/PUNCT",first/ADV,/SPACE legislated/VERB in/ADP,France/PROPN,"/SPACE in/ADP 2017/NUM ,/PUNCT limits/VERB how..."
3,France,2017,"The concept, first legislated in",France,in,2017,", limits how much employees can be made to ans...","The/DET concept/NOUN ,/PUNCT first/ADV legisla...",France/PROPN,/SPACE in/ADP,2017/NUM,",/PUNCT limits/VERB how/ADV much/ADJ employees..."
4,2017,working_hours,"The concept, first legislated in France in",2017,", limits how much employees can be made to ans...",working hours,.,"The/DET concept/NOUN ,/PUNCT first/ADV legisla...",2017/NUM,",/PUNCT limits/VERB how/ADV much/ADJ employees...",working/VERB hours/NOUN,./PUNCT

In [19]:
df_c.shape

(68780, 12)

In [20]:
corpus = rel_ext.Corpus('washington_post_test.tsv.gz')

### Knowledge Base

In [22]:
file_name = 'Atsuko_filtered_KB.tsv.gz'

In [23]:
columns = ['Relation', 'Entity_1', 'Entity_2']
df_kb = pd.read_csv(file_name, names=columns, sep='\t')

In [24]:
df_kb.head()

         Relation               Entity_1                              Entity_2
0        contains            Brickfields  Kuala_Lumpur_Sentral_railway_station
1        contains            Los_Angeles                        Mondrian_Hotel
2        contains                Gujarat                     Junagadh_district
3  place_of_death           Jean_Drapeau                              Montreal
4  place_of_birth  William_Penny_Brookes                          Much_Wenlock

In [29]:
df_kb.shape

(28575, 3)

In [30]:
df_kb['Relation'].unique()

array(['contains', 'place_of_death', 'place_of_birth', 'nationality',
       'has_spouse', 'adjoins', 'worked_at', 'capital'], dtype=object)

In [31]:
kb = rel_ext.KB('Atsuko_filtered_KB.tsv.gz')

### dataset

In [32]:
dataset = rel_ext.Dataset(corpus, kb)

In [33]:
unrelated_pairs = dataset.find_unrelated_pairs()
print('Found {0:,} unrelated pairs, including:'.format(len(unrelated_pairs)))
for pair in list(unrelated_pairs)[:10]:
    print('   ', pair)

Found 98,561 unrelated pairs, including:
    ('Guaid√≥', 'three')
    ('Guard', 'Soleimani')
    ('the_St._Petersburg_International_Economic_Forum', 'Russias')
    ('Islamic', 'al-Hol')
    ('Hockridge', 'Tran')
    ('Del_Rio', 'Raul_Ortiz')
    ('Wednesday', 'Nissan')
    ('six_months', 'Barbarin')
    ('four', 'U.S.')
    ('Zetas', 'at_least_70')

In [35]:
dataset.count_examples()

                                             examples
relation               examples    triples    /triple
--------               --------    -------    -------
adjoins                     901       1702       0.53
capital                     121        522       0.23
contains                    363      18681       0.02
has_spouse                    4       2994       0.00
nationality                  28       1598       0.02
place_of_birth                1       1097       0.00
place_of_death                4        831       0.00
worked_at                     1       1150       0.00