In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
file_name = 'Atsuko_filtered_KB.tsv.gz'

In [5]:
columns = ['Relation', 'Entity_1', 'Entity_2']
df = pd.read_csv(file_name, names=columns, sep='\t')

In [6]:
df.head()

         Relation               Entity_1                              Entity_2
0        contains            Brickfields  Kuala_Lumpur_Sentral_railway_station
1        contains            Los_Angeles                        Mondrian_Hotel
2        contains                Gujarat                     Junagadh_district
3  place_of_death           Jean_Drapeau                              Montreal
4  place_of_birth  William_Penny_Brookes                          Much_Wenlock

In [7]:
df.shape

(28575, 3)

In [8]:
df['Relation'].unique()

array(['contains', 'place_of_death', 'place_of_birth', 'nationality',
       'has_spouse', 'adjoins', 'worked_at', 'capital'], dtype=object)